# Unreal Engine
Saved/
Intermediate/
DerivedDataCache/
*.VC.db
*.sln
*.opensdf
*.sdf
*.log
.vscode/

# Optional
*.pdb
*.obj
*.exe
Binaries/
Build/

# Ignore built data
*.xcodeproj
*.xcworkspace

# macOS
.DS_Store